body,
html,
#video {
	margin: 0;
	padding: 0;
}

#video {
	height: 100vh;
}

#close {
	position: absolute;
	z-index: 999;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

#close>img {
	width: 24px;
	height: 24px;
}

/*
* {
	color: green;
}*/

/*NOT WORKING */
/*
#eid-video {
	color: orange;
	background-color: pink;
}


#videoid-legend-step {
	color: orange;
	background-color: red;
}
#videoid-mark-roi #animation-scanned {
	color: purple;
	border-color: orange;
	border-width: 20px;
}

*/


#videoid-container #video-loading #video-instructions ul li span {
  border: 6px solid blue;
  color: purple;
}



#videoid-legend-step {
  position: absolute;
  background: orange;
}



#videoid-legend a {
  color: gold;
  border: 3px solid green;
  z-index: 1;
}





#videoid-legend.open #volume {
  border-color: violet;
}


#videoid-container #video-loading p {
  color: lavender;
}


#videoid-container #video-loading a {
  color: cyan;
}

#videoid-container #video-loading #video-instructions {
  color: springgreen;
}

#videoid-container #video-loading #video-instructions h3 {
  color: olive;
}

#videoid-container #video-loading #video-instructions ul li {
  color: yellow;
}

#videoid-container #video-loading #video-instructions ul li span {
  color: orangered;
}


#videoid-container #video-loading #videoid-progress-bar #bar {
  background: #B22222;
  /* Old browsers */
  background: -moz-linear-gradient(left, #B22222 0%, #FAEBD7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #B22222 0%, #FAEBD7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #B22222 0%, #FAEBD7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B22222', endColorstr='#FAEBD7', GradientType=1);
  /* IE6-9 */
}




/*

At first almost everything can be customized (backgrounds, fonts, sizes, colors, animations ... etc)

We add our styles of our products immediately before the styles of the client so if you want to change it, for example, the color of the roi, just put on your style sheet.

#mark-roi{
border: 3px solid red;
}

For example
1. You add our service in your Web site.
2. You add your own style sheet the elements you want to change.
3. Our library interpret those styles as priority and overwrite ours.

Custom animation list:

@keyframes highlightRoi
@keyframes scaleAnim
@keyframes perspective-anim
@keyframes notification
@keyframes stroke
@keyframes scale
@keyframes fill
@keyframes scanning
@keyframes rotation
@keyframes flash
@keyframes opacity
@keyframes dash
@keyframes dash-check
@keyframes loading
@keyframes loaded
@keyframes appear-from-bottom

Custom element list:
#eid-video
#videoid-overlay
#videoid-container
#eid-agent-video
#eid-agent-video video
#videoid-overlay .spinner
#videoid-overlay .spinner span
#videoid-overlay .spinner span:before
#videoid-overlay .spinner.active
#videoid-legend
#videoid-legend-step
#videoid-legend-step>div
#videoid-contextualhelp-title
#videoid-legend-step>div p
#videoid-legend-step>div div.contain
#videoid-containerNotification
#videoid-contextualhelp-video
#videoid-legend-step>div div.contain .controls
#videoid-legend-step>div div.contain.playing .controls
#videoid-contextualhelp-button
#videoid-legend a
#videoid-legend a:hover
#videoid-legend a#logo-eid
#videoid-legend a#volume
#videoid-legend a#volume.active
#videoid-legend a#help
#videoid-legend a.active
#videoid-legend.open
#videoid-legend-step.open
#videoid-legend-step.open>div h3
#videoid-legend-step.open>div p
#videoid-legend-step.open>div>div
#videoid-legend-step.open>div button
#videoid-legend.open #logo-eid
#videoid-legend.open #volume
#videoid-legend.open #volume.active
#videoid-container #video-loading
#videoid-container #video-loading p
#videoid-container #video-loading button
#videoid-container #video-loading #video-instructions
#videoid-container #video-loading #video-instructions img
#videoid-container #video-loading #video-instructions h3
#videoid-container #video-loading #video-instructions ul
#videoid-container #video-loading #video-instructions ul li
#videoid-container #video-loading #video-instructions ul li span
#videoid-container #video-loading.hide
#videoid-container #video-loading #video-instructions ul li:nth-child(1)
#videoid-container #video-loading #video-instructions ul li:nth-child(2)
#videoid-container #video-loading #video-instructions ul li:nth-child(3)
#videoid-container #video-loading #video-instructions ul li:nth-child(4)
#videoid-container #video-loading #videoid-progress-bar
#videoid-container #video-loading #videoid-progress-bar:after
#videoid-container #video-loading.loaded p
#videoid-container #video-loading.loaded button
#videoid-container #video-loading.loaded #videoid-progress-bar
#videoid-container #video-loading.loaded #videoid-progress-bar:after
#videoid-detection
#videoid-detection #frame-Scan
#videoid-detection #frame-Scan.hide
#videoid-mark-roi
#videoid-mark-roi.hologram
#videoid-container-text-notification
.videoid-notification,.videoid-notification
.videoid-notification.show,.videoid-notification.show,#videoid-container-text-notification.show
.videoid-notification.show.warning
.videoid-notification.show.success,.videoid-notification.show.success
#videoid-mark-roi #animation-scanned
#videoid-mark-roi #animation-scanned div
#videoid-mark-roi #animation-scanned div img
#videoid-mark-roi #animation-scanned #phase-check
#videoid-mark-roi #animation-scanned .checkmark__circle
#videoid-mark-roi #animation-scanned .checkmark
#videoid-mark-roi #animation-scanned .checkmark__check
#videoid-mark-roi #animation-scanned.hide
#videoid-mark-roi #animation-scanned:not(.hide)
#videoid-mark-roi #animation-scanned:not(.hide) div
#videoid-mark-roi #animation-scanned.flash
#videoid-mark-roi .spinner
#videoid-mark-roi.color
#videoid-mark-roi.color .spinner
#videoid-mark-roi.face
#videoid-mark-roi.top-right
#videoid-mark-roi.bottom-left
#videoid-mark-roi.bottom-right
#videoid-detection svg#roi-svg
#videoid-detection svg#roi-svg polygon
#videoid-detection svg#rectangle
#videoid-detection svg#rectangle line
#videoid-detection.flash
#videoid-container #document-scanned
#videoid-container #document-scanned #frame
#videoid-container #document-scanned.hide
#video-error
#video-error h2
#video-error p
#video-error button
#videoid-container.loading #video-loading
/* #videoid-container.loading #videoid-detection
#videoid-legend-step>div div.contain
.videoid-notification,.videoid-notification
#videoid-overlay .spinner
#videoid-overlay .spinner.active
#videoid-legend-step>div div.contain
#videoid-container #video-loading #video-instructions ul
#videoid-container #video-loading #video-instructions ul li
#videoid-container #video-loading #video-instructions ul li span
.videoid-notification , .videoid-notification
#videoid-mark-roi #animation-scanned div img
svg#phase-check .path
svg#phase-check .path.circle
svg#phase-check .path.line
svg#phase-check .path.check

*\