body,
html,
#video {
	margin: 0;
	padding: 0;
}

#video {
	height: 100vh;
}

#close {
	position: absolute;
	z-index: 999;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

#close>img {
	width: 24px;
	height: 24px;
}







/*
* {
	color: green;
}*/

/*NOT WORKING */
/*



div.videoid-notification.notification-image h1 {
    color: red;
}


.div.videoid-notification.notification-image h1 {
    color: orange;
}

#div.videoid-notification.notification-image h1 {
    color: purple;
}


.videoid-notification {
	color: blue;
}



.videoid-notification.notification-text {
	color: red;
	background: blue;
}


.videoid-container .ideo-loading .video-instructions ul li span {
  border: 6px solid blue;
  color: purple;
}



.videoid-legend-step {
  position: absolute;
  background: orange;
}



.videoid-legend a {
  color: gold;
  border: 3px solid green;
  z-index: 1;
}






.videoid-legend-step {
  background: indigo;
}




.videoid-legend-step > div div.contain .controls {
  background: blue;
}


.videoid-contextualhelp-a {
  background: pink;
}



.videoid-notification.show.error,
.videoid-notification.show.warning {
  background: orange;
}



.notification-without-container.show {
  background: red;
}



@keyframes resaltarRoi {
  0% {
    background-color: rgba(250,128,114, 0);
  }
  25% {
    background-color: rgba(250,128,114, 0.3);
  }
  50% {
    background-color: rgba(250,128,114, 0);
  }
  75% {
    background-color: rgba(250,128,114, 0.3);
  }
  100% {
    background-color: rgba(250,128,114, 0);
  }
}*/


