body,
html,
#video {
	margin: 0;
	padding: 0;
}


:root {
  --eid-a-default: aqua;
  --eid-a-hover: blue;
  --eid-a-active: orange;
}


#video {
  height: 90vh;
  width: 90vh;
  --eid-a-default: aqua;
  --eid-a-hover: blue;
  --eid-a-active: orange;
}

#video .eid-button {
  border-radius: 30%;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25em;
  padding: 0.625em 2em;
  text-align: center;
  --eid-a-default: aqua;
  --eid-a-hover: blue;
  --eid-a-active: orange;
}


#video .eid-detection-roi {
  border: 15px solid;
  border-color: red;
}


#video .eid-notification-text .eid-p {
  color: #001ffd;
}

#video .eid-detection-roi-document {
  box-shadow
}



#close {
	position: absolute;
	z-index: 999;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

#close>img {
	width: 24px;
	height: 24px;
}








/*
.eid-button-primary


* {
	color: green;
}*/

/*NOT WORKING */
/*



div.videoid-notification.notification-image h1 {
    color: red;
}


.div.videoid-notification.notification-image h1 {
    color: orange;
}

#div.videoid-notification.notification-image h1 {
    color: purple;
}


.videoid-notification {
	color: blue;
}



.videoid-notification.notification-text {
	color: red;
	background: blue;
}


.videoid-container .ideo-loading .video-instructions ul li span {
  border: 6px solid blue;
  color: purple;
}



.videoid-legend-step {
  position: absolute;
  background: orange;
}



.videoid-legend a {
  color: gold;
  border: 3px solid green;
  z-index: 1;
}






.videoid-legend-step {
  background: indigo;
}




.videoid-legend-step > div div.contain .controls {
  background: blue;
}


.videoid-contextualhelp-a {
  background: pink;
}



.videoid-notification.show.error,
.videoid-notification.show.warning {
  background: orange;
}



.notification-without-container.show {
  background: red;
}



@keyframes resaltarRoi {
  0% {
    background-color: rgba(250,128,114, 0);
  }
  25% {
    background-color: rgba(250,128,114, 0.3);
  }
  50% {
    background-color: rgba(250,128,114, 0);
  }
  75% {
    background-color: rgba(250,128,114, 0.3);
  }
  100% {
    background-color: rgba(250,128,114, 0);
  }
}*/


